BETTER_AUTH_SECRET=xxxxxxxx
BETTER_AUTH_URL=http://localhost:3002

FRONTEND_URL=http://localhost:3002

DATABASE_URL="postgresql://xxxx:xxxxxxx@localhost:5433/xxxxxxx"

S3_ENDPOINT=http://localhost:3900
S3_REGION=garage
S3_ACCESS_KEY_ID=xxxxxxxx
S3_SECRET_ACCESS_KEY=xxxxxxxx
S3_BUCKET=avatars
S3_PUBLIC_BASE_URL=http://avatars.web.garage.localhost:3902

MOONSHOT_API_KEY=xxxxxxxx